{% extends 'base.html' %}

{% block title %}
Login - My Blog
{% endblock %}


{% block content %}

<section class="container auth-container">

    <h1>
        Login
    </h1>


    {% if error %}

        <p class="error">
            {{ error }}
        </p>

    {% endif %}


    <form method="POST" class="auth-form">

        {% csrf_token %}


        <p>

            <label for="username">
                Username
            </label>

            <input
                type="text"
                name="username"
                id="username"
                required
            >

        </p>


        <p>

            <label for="password">
                Password
            </label>

            <input
                type="password"
                name="password"
                id="password"
                required
            >

        </p>


        <button type="submit">
            Login
        </button>

    </form>
</section>
{% endblock %}